.hero-container{
  display: flex;
  background-color: #F4EBD0;
  justify-content: center;
  img{
    width: 100px;
  }
  .hero-text{
    display: flex;
    flex-direction: column;
     justify-content: space-around;
     .hero-text-main{
       font-family:'Ribeye'; 
     }
    .hero-text-sub{
      font-family:'Reenie Beanie';
      font-style: normal;
      font-weight: 500;
     
    }
  }
}