@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.header-container {
  background-color: #122620;
  display: flex;
  padding: 0 5px;
  img{
    width: 8px;
  }

  .header-text {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 28px;
    display: inline;
    padding-left: 5px;
  }
}
